{# Uses: input.id, input.label, input.class, input.name #}

<div class="input-row">
	<label for="{{input.id}}">{{input.label}}: </label>
	<input id="{{input.id}}" name="{{input.name}}" class="{{input.class}}"/>
</div>